# Maven
target/
*.ser
*.ec
*.iml
dependency-reduced-pom.xml

# IntelliJ Idea
.idea/
out/
*.ipr
*.iws
*.iml

# Eclipse
.classpath
.project
.settings/
.metadata/

# OS X
.DS_Store

# Misc
config.properties
out.xml
pom.xml.releaseBackup
release.properties
*.log
*.tex
*.html